dataweave-ex/src/main/app/dataweave-ex.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8060" basePath="dw" doc:name="HTTP Listener Configuration"/>
    <flow name="dataweave-exFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw" doc:name="HTTP"/>
        <set-payload value="{
  &quot;items&quot;: [
      {
        &quot;type&quot; : &quot;book&quot;,
        &quot;label&quot; : &quot;Java Curiosities&quot;,
        &quot;author&quot; : &quot;Luis Miguel&quot;,
        &quot;image&quot;: &quot;http://www.gravatar.com/avatar/a133c7d8d9245d063b136732272ea77e&quot;,
        &quot;url&quot;: &quot;http://javacuriosities.blogspot.com.ar/&quot;
      },
      {
        &quot;type&quot; : &quot;CD&quot;,
        &quot;label&quot; : &quot;No culpes a la noche&quot;,
        &quot;author&quot; : &quot;Luis Miguel&quot;,
        &quot;image&quot;: &quot;http://www.gravatar.com/avatar/a133c7d8d9245d063b136732272ea77e&quot;
      },
      {
        &quot;type&quot; : &quot;book&quot;,
        &quot;label&quot; : &quot;Mule in Action&quot;,
        &quot;author&quot; : &quot;Victor Romero&quot;
      },
      {
        &quot;type&quot; : &quot;CD&quot;,
        &quot;label&quot; : &quot;Yesterday&quot;,
        &quot;author&quot; : &quot;The Beatles&quot;
      }
    ]
}" mimeType="application/json" doc:name="Set Payload"/>
        <logger message="JSON O/P :    #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="8b3bb87c-0ba0-4cc5-b3fb-870521586dcc">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	parentsRoot : payload.items groupBy $.author pluck {
		owner : $$,
		categories : $.type
	}
	
	
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Final Output:  #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
